@font-face {
	font-family: 'Alef Hebrew';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Assistant-Regular.ttf);
}
@font-face {
	font-family: 'Alef Hebrew';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Assistant-Bold.ttf);
}
* {font-family:'Alef Hebrew'}